body {
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Login form {
    display: flex;
    flex-direction: column;
}

.Login h1 {
    margin-bottom: 50px;
    font-size: 50px;
    color: #191717;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.Login label {
    margin-bottom: 15px;
}

.Login input {
    padding: 10px;
    width: 300px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.Login button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.Login button:hover {
    background-color: #45a049;
}

.Login p {
    margin: 0;
}